@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: caligraphy;
    src: url(font/Aston-Script.ttf);
}




* {
    box-sizing: border-box;
    font-family: Poppins;
    color: white;   
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #C4D5D5;
}

.main-header {
    text-align: center;
    font-family: "caligraphy";
    font-size: 7em;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header-line {
    margin: 0 auto;
    width: 20px;
    height: 1px;

}

.navigation-bar {
    padding-top: 0.0159px;
    text-align: center;
    font-size: 1.00em;
    font-weight: bold;
    font-weight: line;

}

.navigation-bar ul {
    margin: 0px;
    padding: 0px;
}

.navigation-bar li {
    display: inline;
    padding: 15px;
}
 
.navigation-bar li:hover  {
    background-color: #9FB6B9;
    cursor: pointer;
    color: white;
    transition: 0.3s ease-out;
    border-radius: 0 0 25px 25px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.navigation-bar a {
    text-decoration: none;
    width: 20px;
    height: 20px;
    color: black;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1.25em;
}

.content-section {
    font-size: 15px;
    text-align: center;
}

.header-div {
    text-align: center;
    margin: 0;
    padding-top: 150px;
    font-size: 2em;
}

.header-div :nth-child(odd) {
    font-family: "caligraphy";
}

.header-div :nth-child(2) {
    font-size: .5em;
    font-family: Libre Baskerville;
}

.eucalyptus {
    display: flex;
    width: 10px;
    height: 10px;
    mix-blend-mode: multiply;
    margin-top: 25px;
}

.first_eucalyptus {
    width: auto;
    height: 600px;
    margin-top: 25px;
    align-items: center;
}

.second_eucalyptus {
    width: auto;
    height: 600px;
    margin-top: 25px;
    margin-left: 250px;
}

.eucalyptus_horizont_center {
    display: flex;
    justify-content: center;
}

.eucalyptus_horizont {
    width: auto;
    height: 200px;
    mix-blend-mode: multiply;
    margin-top: 25px;
    
}

.date {
    text-align: center;
    margin-top: 200px;
}

.countdown {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.countdown-content {
    margin: 50px;
    margin-top: 100px;
    background: none;
    width: 175px;
    height: 175px;
}

.countdown-content p {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    font-size: 75px;
    color: white;
}

.countdown-content h2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: white;
}

.registry {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.registry-header {
    font-size: 2em;
}

.button-content {
    background-color: #9FB6B9;
    cursor: pointer;
    color: white;
    margin-top:75px;
    width: 50%;
    height: 70%;
    transition: 0.3s ease-out;
    border-radius: 25px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.button-content:hover {
    background-color: #7b9598;
}

.button-content p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

.page-title {
    font-family: "caligraphy";
    font-size: 4em;
    margin: 25px 0 100px 0;
}

.content-spacer {
    margin: 100px 0 100px 0;
}

.peoples-name {
    font-family: "caligraphy";
    font-size: 5em;
    
}

.bandg_list {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.bandg_list li {
    padding-top: 20px;
}

.credit {
    margin-top: 100px;
    text-align: center;
    font-size: 10px;
}

.faq {
    font-size: 4em;
}

.sub-header {
    font-size: 5em;
}

.caligraphy-questions {
    font-family: "caligraphy";
    font-size: 2.5em;
}

.fadeInLeft {
    -webkit-animation: fadeInLeft 1.2s both;
    -moz-animation: fadeInLeft 1.2s both;
    -o-animation: fadeInLeft 1.2s both;
    animation: fadeInLeft 1.2s both;
}

.animation-padding {
    padding-top: 100px;
}

@-webkit-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -webkit-transform: translatex(-150px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translatex(0) ;
    }
}
@-moz-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -moz-transform: translatex(-150px);
    }
    100%{
        opacity: 1;
        -moz-transform: translatex(0) ;
    }
}

@-o-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -o-transform: translatex(-150px);
    }
    100%{
        opacity: 1;
        -o-transform: translatex(0) ;
    }
}

@keyframes fadeInLeft {
    0%{
        opacity: 0;
        transform: translatex(-150px);
    }
    100%{
        opacity: 1;
        transform: translatex(0) ;
    }
}


.fadeInRight {
    -webkit-animation: fadeInRight 1.2s both;
    -moz-animation: fadeInRight 1.2s both;
    -o-animation: fadeInRight 1.2s both;
    animation: fadeInRight 1.2s both;
}


@-webkit-keyframes fadeInRight {
    0%{
        opacity: 0;
        -webkit-transform: translatex(150px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translatex(0) ;
    }
}
@-moz-keyframes fadeInRight {
    0%{
        opacity: 0;
        -moz-transform: translatex(150px);
    }
    100%{
        opacity: 1;
        -moz-transform: translatex(0) ;
    }
}

@-o-keyframes fadeInRight {
    0%{
        opacity: 0;
        -o-transform: translatex(150px);
    }
    100%{
        opacity: 1;
        -o-transform: translatex(0) ;
    }
}

@keyframes fadeInRight {
    0%{
        opacity: 0;
        transform: translatex(150px);
    }
    100%{
        opacity: 1;
        transform: translatex(0) ;
    }
}

.logo {
    display: none;
    
}

.credit {
    margin-top: 200px;
}

@media (max-width: 500px) {
    .navigation-bar {
        width: 100%;
        height: 10%;
        position: fixed;
        top: 15px;
        right: 5px;
        z-index: 2;
    }    

    .showMenu {
        display: none;
    }

    .close-menu {
        display: none;
    }

    .nav li {
        padding: none;

    }

    .navigation-bar ul {
        margin-top: 65px;
        background-color: white;
        border-radius: 25px;
        height: 200px;
        width: 300px;
        display: inline-block;
        margin-left: 15px;
    }

    .navigation-bar li {
        color: black;
    }



    .center-list {
        text-align: center;
        padding: 20px;
    }

    .main-nav li {
        display: block;
        font-size: 12px;
        margin-left: 10px;
        padding-top: 5px;
    }

    .logo {
        display: block;
        position: fixed;
        margin-left: 355px;
        margin-top: 5px;
        width: 60px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }




    .main-header {
        margin-top: 30px;
        font-size: 3.5em;
    }

    .header-div {
        font-size: 1em;
        margin-top: -75px;
    }





    .first_eucalyptus {
        width: auto;
        height: 225px;
        margin-top: 45px;
    }

    .second_eucalyptus {
        width: auto;
        height: 225px;
        margin: 45px 0 0 124px;
    }




    .eucalyptus_horizont {
        width: auto;
        height: 175px;
    }



    .registry-header {
        font-size: 1.25em;
    }

    .contribute {
        font-size: 1.25em;
        margin-top: 30px;
    }

    
    .timer {
        display: grid;
        grid-template-columns: 2fr 2fr;
        justify-content: center;
    }

    .countdown-content {
        margin: auto;

    }

    #minutes {
        margin-top: 75px;
    }

    #seconds {
        margin-top: 75px;
    }


    .credit {
        margin-top: 250px;
    }

}